.EditorButton {
    text-align: center;
    background-color: darkblue;
    height: 15%;
    padding: 5px;
    margin: 5px;
    font-size: 4vmin;
    cursor: pointer;
    height: 80%;
}

.EditorButton:hover {
    background-color: blue;
}

.EditorButton:active {
    background-color: blue;
}

#EditorMenu {
    position: fixed;

}