html {
  background-color: black;
  min-width: 100vw;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: aliceblue;
  font-family: 'Texturina', serif;
  width: 100%;
  height: 100%;
}

a {
  color: #00B7FF;
}

#GameCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}

#BarDisplay {
  position: fixed;
  min-width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  background-color: darkblue;
  text-align: center;
  color: white;
  font-size: 4vmin;
}

#PlayButtons {
  position: fixed;
  min-width: 100%;
  top: calc(100% - 15vmin);
  bottom: 0;
  display: flex;
  color: white;
  font-size: 4vmin;
  justify-content: end;
  align-items: end;
}