<!DOCTYPE html>
<html>

<head>
    <title>Polar Hamlet</title>
    <link rel="stylesheet" href="../stylesheets/Website.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Texturina:wght@300&display=swap" rel="stylesheet">
</head>

<body>
<h1 id="SiteTitle">Polar Hamlet</h1>
<p id="Description">Explore the northern tundras, and help your small village thrive!</p>
<a href="/play"><div id="PlayButton">Play Now!</div></a>
<h3 id="NewsTitle">News!</h3>
<div id="Footer"></div>
</body>

</html>
